## Unidade 01 - Avaliação 01

- **Aluno**: --preencher o nome completo--
- **Matrícula**: --preencer com a matrícula--

<br>
<div class="alert alert-info">
<b>Avisos.</b>
</div>


1. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
2. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python, versão 3.X, e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
3. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
4. O arquivo da base de dados não deve ser alterado.
5. Em nenhuma hipótese os alunos devem trocar mensagens entre si. A prova só deve ser compartilhada na Internet após a sua correção. Caso seja identificado tal situação, os envolvidos terão automaticamente nota Zero (0.0) na avaliação.

## Base de dados

Nessa avaliação será utilizado a base de dados referente aos concursos da Mega-Sena. 

A **Mega-Sena** tem sido a maior modalidade lotérica do Brasil, sendo uma entre as dez modalidades atuais das loterias da Caixa (Caixa Econômica Federal), com sorteios ordinários duas vezes por semana, além da Mega-Sena da Virada.

Para ganhar o **prêmio máximo da Mega-Sena** — **a sena** — , é necessário acertar a sena, o que significa obter coincidência entre **seis dos números** apostados e os seis números sorteados, de um total de sessenta dezenas (**de 01 a 60**), independentemente da ordem da aposta ou da ordem do sorteio. 

O concurso prevê também a chance de se ganhar parte do prêmio máximo, pelo acerto da **quina** (apenas cinco dos números sorteados), ou da **quadra** (apenas quatro dos números sorteados), com prêmios significativamente menores que aquele que seria pago na ocorrência do acerto da sena, o da quina maior que o da quadra. 

A base de dados está em formato de planilha em excel. Para carregar esse arquivo em formato de **dataframe** utilizar o código abaixo: 

>```python
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'basedados.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()
```

In [44]:
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'basedados.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()

[u'MegaSena']

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0

## a) (2.0 pontos) Investigando a base de dados

1. (0.2 pontos) Quantos dados faltantes existem em toda a base de dados?
2. (0.2 pontos) Quais os tipos das colunas da base de dados?
3. (0.2 pontos) Qual o concurso com o maior número de ganhadores na sena?
4. (0.4 pontos) Quantos dias se passaram entre os 100 últimos concurso?
5. (1.0 ponto)  Qual a porcentagem de concursos não acumulados?

In [30]:
#1 (0.2 pontos) Quantos dados faltantes existem em toda a base de dados?
dados_faltantes = 0
for col in dados.columns:
    dados_faltantes+=sum(dados[col].isnull())
dados_faltantes

0

In [41]:
#2 (0.2 pontos) Quais os tipos das colunas da base de dados?
for col in dados.columns:
    print(type(dados[col][0]))

<type 'numpy.int64'>
<class 'pandas._libs.tslib.Timestamp'>
<type 'numpy.int64'>
<type 'numpy.int64'>
<type 'numpy.int64'>
<type 'numpy.int64'>
<type 'numpy.int64'>
<type 'numpy.int64'>
<type 'numpy.float64'>
<type 'numpy.int64'>
<type 'numpy.float64'>
<type 'numpy.int64'>
<type 'numpy.float64'>
<type 'numpy.int64'>
<type 'numpy.float64'>
<type 'unicode'>
<type 'numpy.float64'>
<type 'numpy.int64'>

In [95]:
#3 (0.2 pontos) Qual o concurso com o maior número de ganhadores na sena? Concurso 2000
print(dados["Concurso"].loc[(dados["Ganhadores_Sena"]==dados["Ganhadores_Sena"].max())])

1999    2000
Name: Concurso, dtype: int64

## b) (3.0 pontos) Tentativa de encontrar uma aposta perfeita


1. (3.0 pontos) Pythonildo teve uma ideia brilhante para **ganhar na Mega-Sena**. Sendo ele uma pessoa muito exotérica, acredita que o dia "2010-01-01" tem uma influência grande nos resultados. Assim, a estratégia de Pythonildo é fazer uma aposta de 6 números contendo os 6 números que mais apareceram em todos os concursos da MegaSena a partir do dia "2010-01-01". Encontre a aposta perfeita segundo Pythonildo.

*sugestão - consultar a função pandas.DataFrame.unstack*

In [16]:
colunas = ["Dezena1", "Dezena2", "Dezena3", "Dezena4", "Dezena5", "Dezena6"]

dados[dados["Data Sorteio"] > "2010-01-01"][colunas].unstack().value_counts()[0:6]

10    113
2     108
53    106
30    103
52    103
5     100
dtype: int64

## c) (5.0 pontos) Investigando a premiação

Para cada concurso da Mega-Sena, a maior premiação está relacionada com o acerto das 6 dezenas, e o seu valor é dada pela seguinte relação:

$$Prêmio = Ganhadores\_Sena	\times Rateio\_Sena$$

1) (1.0 ponto) Crie uma nova coluna na base de dados para o prêmio máximo de cada concurso. A coluna deve ser chamada de "prêmio_máximo"

2) (1.0 ponto) Qual concurso ocorreu o maior prêmio da Mega-Sena?

3) (1.5 pontos) Crie uma nova coluna chamada "Rótulo" baseada na faixa de valores da coluna "prêmio_máximo"

| Intervalo [Milhões de Reais] | Rótulo |
|------------------------------|--------|
| 0 - 1                        | I      |
| 1 - 5                        | II     |
| 5 - 10                       | III    |
| 10 - 20                      | IV     |
| 20 - 40                      | V      |
| 40 - 80                      | VI     |
| 80 - 100                     | VII    |
| 100 - 200                    | VIII   |
| 200 - 300                    | IX     |
| 300 -                        | X      |
4) (1.5 pontos) Calcule a porcentagem de ocorrência para cada rótulo assumindo o número total de concursos realizados.

In [62]:
#1 (1.0 ponto) Crie uma nova coluna na base de dados para o prêmio máximo de cada concurso. A coluna deve ser chamada de "prêmio_máximo"]
dados["Premio_Maximo"] = (dados["Ganhadores_Sena"]*dados["Rateio_Sena"])

In [63]:
#2 Qual concurso ocorreu o maior prêmio da Mega-Sena?
dados["Premio_Maximo"].max()

306718743.68000001

In [85]:
#3 (1.5 pontos) Crie uma nova coluna chamada "Rótulo" baseada na faixa de valores da coluna "prêmio_máximo"
def rotula(x):
    if x <= 1000000:
       return 'I'
    elif x <= 5000000:
       return 'II'
    elif x <= 10000000:
       return 'III'
    elif x <= 20000000:
       return 'IV'
    elif x <= 40000000:
       return 'V'
    elif x <= 80000000:
       return 'VI'
    elif x <= 100000000:
       return 'VII'
    elif x <= 200000000:
       return 'VIII'
    elif x <= 300000000:
       return 'IX'
    elif x > 300000000:
       return 'X'
dados["Rotulo"] = dados["Premio_Maximo"].apply(rotula)
dados["Rotulo"]

0          I
1         II
2          I
3          I
4          I
5          I
6          I
7          I
8          I
9          I
10        IV
11         I
12         I
13         I
14         I
15         I
16       III
17         I
18         I
19         I
20         I
21         I
22         I
23        IV
24         I
25         I
26         I
27         I
28       III
29         I
        ...
1995       I
1996       I
1997       I
1998       I
1999       X
2000       I
2001       I
2002       I
2003      IV
2004       I
2005       I
2006       I
2007       I
2008       I
2009       I
2010       I
2011       I
2012       I
2013       I
2014    VIII
2015       I
2016       I
2017       I
2018       I
2019       I
2020       I
2021       I
2022      VI
2023       I
2024       I
Name: Rotulo, Length: 2025, dtype: object

In [ ]:
#4) (1.5 pontos) Calcule a porcentagem de ocorrência para cada rótulo assumindo o número total de concursos realizados. 
for rotulo in rotulo.unique():